# n8n
N8N_HOST=localhost
N8N_PROTOCOL=http
N8N_ENCRYPTION_KEY=
WEBHOOK_URL=http://localhost:5678/

# Evolution API
EVOLUTION_API_KEY=

# Next.js
NODE_ENV=development
WATCHPACK_POLLING=true
CHOKIDAR_USEPOLLING=true
NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
NEXT_PUBLIC_PMA_URL=http://localhost:8080
